.grid-container
{
	display: inline-grid;
	grid-template-columns: 120px 120px 120px 120px 120px 120px;
	grid-template-rows: 70px 70px 70px 70px 70px;
	grid-gap: 15px;
}
.grid-container > div
{
	padding-left: 8px;
	font-size: 22px;
}
.item1
{
	grid-column: 1 / span 3;
	grid-row-start: 1;
	grid-row-end: 3; 
	height: 112px;
	border:solid 7px #B2BABB;
	background-color:#E5E8E8;
	opacity: 0.8;
}
.item2
{
	grid-row: 2;
	grid-column: 3 / span 4;
	grid-row-start: 3;
	grid-row-end: 6;
	z-index: 1;
	margin-top: -86px;
    height: 200px;
    border:hidden;
    background-color: #58D68D;
    opacity: 0.8;
}
.item3
{
	grid-column: 5 / span 2;
	grid-row-start: 1;
	grid-row-end: 5;
	height: 362px;
	z-index: 1;
	 border:solid 7px #BB8FCE;
	 opacity: 0.8;
}
.item4
{
	grid-column: 2;
	grid-row: 2 / span 3;
	height: 290px;
	 border:hidden;
	 background-color: #B2BABB;
	 opacity: 0.8;
}
.item5
{
	grid-row: 4;
	grid-column: 1 / span 3;
	height: 167px;
	border:hidden;
	background-color: #BB8FCE;
	opacity: 0.8;
}
.item6
{
	grid-row: 5;
	grid-column: 4 / span 3;
	height: 68px;
	border:solid 7px #58D68D;
	opacity: 0.8;
}