:root
{
	--color:rgb(23, 32, 42);
}
div
{
	background-color:var(--color);
  width: 507px;
  height: 398px;
  margin-left: 300px;
  margin-top: 40px;
  border-radius: 40px;
}
#div1
{
	padding-left: 64px;
	width: 178px;
	background-color: rgb(23, 165, 137);
	margin-left: 70px;
	margin-top: 50px;
}
#div2
{
	margin-left:-5px;
	padding-left: 64px;
	width: 191px;
	background-color: #0E6251; 
}
#div3
{
	padding: 8px;
	width: 366px;
	color: #FDFEFE; 
	padding-left: 120px;
	margin-left: 61px;
}
#div4
{
	background-color: rgb(23, 32, 42);
	color: #FDFEFE; 
	margin-left: 67px;
  width: 167px;
}
#div5
{
	background-color: rgb(23, 32, 42);
	color: #FDFEFE;
	width: 201px; 
}
#div6
{
	width: 367px;
	background-color: rgb(23, 32, 42);
	color: #FDFEFE;
	margin: 10px 1px; 
    margin-top: 30px; 
    margin-left: 67px;
    width: 373px;
}
#div7
{
	width: 367px;
	background-color: rgb(23, 32, 42);
	color: #FDFEFE;
	margin: 10px 1px; 
	margin-top: 20px;
	margin-left: 67px;
    width: 373px;
}
#div8
{
	padding: 8px;
    width: 367px;
    background-color: rgb(23, 165, 137);
    padding-left: 132px;
    margin: 10px 1px;
    margin-top:25px; 
    margin-left: 65px;
    width:375px;
}